@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
body {
  background-image: linear-gradient(rgba(9,0,77,0.65),rgba(9,0,77,0.65)),url("../images/Newspaper.jpg");
  background-size: cover;
  overflow-x: hidden !important;
}
/* Custom CSS for logo */
/* Styling for the header */
header {
  position:relative;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
}

.logo {
  position: relative;
  max-width: 80px; /* Adjust the width of the logo as needed */
  /* height: auto; Maintain aspect ratio */
}

.navbar-link {
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

/* Styling for the links in the header */
ul.list-inline li {
  display: inline;
  margin-left: 20px; /* Adjust the spacing between links as needed */
}
ul li a {
  text-decoration: none;
  color: #000; /* Adjust the link color as needed */
}

/* ************************** */
.mid-body {
  color: #fff;
}
/* *********************** */
/* Styling for the footer */
.footer-basic {
  padding-top: 20px;
  color: #000;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 10px;
}
/* Styling for the social icons in the footer */
.footer-basic .social a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  background: linear-gradient(45deg, #253758, #253758);
  color: white;
  transition: transform 0.3s ease;
}

.footer-basic .social a:hover {
  /* opacity: 0.9; */
  transform: scale(1.1);
}

/* Styling for the list of links in the footer */
.footer-basic ul {
  padding: 0;
  list-style: none;
  margin-bottom: 10px;
}

.footer-basic ul li {
  display: inline;
  margin-right: 20px; /* Adjust the spacing between links as needed */
}

.footer-basic ul li:last-child {
  margin-right: 0; /* Remove margin from the last link */
}

.footer-basic ul li a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul li a:hover {
  opacity: 1;
}
